{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
.card-img-top {
  height: 200px;
  object-fit: cover; 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red;
}

.card{
  width:16rem;
  height:15rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.card-body{
  background-color: #181B29;
  color:#fff;
  letter-spacing:2px;
}


{% endblock %}
{% block content %}

    
{% for ad in ads %}
{% if forloop.counter0|divisibleby:4 %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  {% endif %}
          <div class="col-3 mt-3 ">
                <div class="card cardstyle" >
                  <div id="carouselExampleInterval{{ad.id}}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      {% if ad.image1 %}
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="{{ad.image1.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      {% if ad.image2 %}
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="{{ad.image2.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      {% if ad.image3 %}
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="{{ad.image3.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      {% if ad.image4 %}
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="{{ad.image4.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      {% if ad.image5 %}
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="{{ad.image5.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      {% if ad.image6 %}
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="{{ad.image6.url}}" class="d-block w-100 card-img-top" alt="{{ad.title}}">
                      </div>
                      {% endif %}
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval{{ad.id}}" data-bs-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval{{ad.id}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>
                  <div class="card-body">
                      <h5 class="card-title">{{ad.title}}</h5>
                      <h6 class="card-text">{{ ad.price }}&#8377;</h6>
                      <!-- <p class="card-text">{{ ad.short_description }}</p> -->
                      <a href="{% url 'ad_detail' ad_id=ad.id %}" class="btn btn-primary cardbtn">View details</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
    
{% endblock %}
